.content-footer{
    border-top: solid;
    border-top-width: calc(var(--pixelscalar));
    border-color: color-mix(in srgb, var(--ultradark-mint), transparent 66%);
    padding-top: .5rem;
    width: 100%;
    background-color: var(--dark-mint);
    overflow:hidden;
    margin-bottom: 0px;
}
    .content-footer > ::deep * {
        text-align: center;
        font-size: .7em !important;
        height: fit-content;
        display: flex;
    }


ul, li {
    padding-left: 0px;
    padding-right: 0px;
    list-style-type: none !important;
    margin-bottom: var(--pixelscalar);
    justify-items:center;
}
    ul > *, ::deep {
        margin-bottom: var(--pixelscalar);
    }

    ul > li:last-of-type {
        margin-bottom: calc(var(--pixelscalar) * 4);
    }
    ul > li:first-child {
        margin-top: calc(var(--pixelscalar) * 4);
        margin-bottom: calc(var(--pixelscalar) * 4);
    }

li, li > p {
    width:fit-content;
}

.show-dots {
    list-style-type: initial !important;
    list-style-position:outside;
}

.brand-box > h3 {
    font-size: 1rem;
    font-weight: 600;
}
.icon {
    user-select:none;
    width: calc(var(--pixelscalar) * 64) !important;
    margin-bottom: calc(var(--pixelscalar) * 2);
}

.license {
    font-size: .45rem;
}
.footer-header {
    font-size: 1.4em;
    font-weight: 600;
}

h3.footer-header {
    font-size: .75rem;
    text-align:left;
}