.content > *[b-ih1tgcwz0s] {
    margin-bottom: 1rem;
}

.content[b-ih1tgcwz0s] {
    overflow-x: clip;

    min-height: 100%;
    height: fit-content;

    width: 100%;

    display: flex;

    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.logo-holder[b-ih1tgcwz0s] {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.5rem;
    background-image: url('assets/backgrounds/space bg.png');
    background-size: cover;
}

.logo-backplane[b-ih1tgcwz0s] {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    min-height: 8rem;
    min-width: 10rem;
    padding: 2.25rem;
    background-color: #00000000;
    border-image: url("assets/components/logo container.png") round;
    border-image-repeat: repeat;
    border-image-slice: 9 9 11 9 fill;
    border-image-width: 1.75rem 1.75rem 2.2rem 1.75rem;
    user-select: none;
}
    .logo-backplane > *[b-ih1tgcwz0s] {
        font-size: 350%;
        font-size-adjust: revert;
        margin-top:2.25rem;
        margin-bottom:2.25rem;
        color: #99e550;
    }

.logo[b-ih1tgcwz0s] {
    color: #99e550;
}

.dither[b-ih1tgcwz0s] {
    margin-top: 8.5rem;
    height: 4.32rem !important;
    background-image: url(assets/components/dither.png);
    background-repeat: repeat-x;
    background-size: contain;
}

@media (min-width: 2400px) {

    .dither[b-ih1tgcwz0s] {
        image-rendering: auto
    }
}
@media (max-width: 2400px) {
    .dither[b-ih1tgcwz0s] {
        image-rendering:pixelated
    }
}

.flex-centered[b-ih1tgcwz0s] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
}

.body-item[b-ih1tgcwz0s] {
    width: 100%;
    height: fit-content;
}
.info-panel > *[b-ih1tgcwz0s]::deep{
    margin-bottom: 1rem;
}

.info-panel > h3[b-ih1tgcwz0s] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 0.25rem;
    border-bottom-style: solid;
    border-color: #222034;
}
.info-panel[b-ih1tgcwz0s] {
    --section-spacing: 3rem;

    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    width: stretch;
    margin-left: var(--section-spacing);
    margin-right: var(--section-spacing);
    padding: 1rem;
    justify-content: flex-start;
    border-image: url('assets/components/section holder.png');
    border-image-repeat: repeat;
    border-image-slice: 7 7 7 7 fill;
    border-image-width: 1.25rem 1.25rem 1.25rem 1.25rem;
}

    .info-panel > *:last-child[b-ih1tgcwz0s] {
        margin-bottom: 0px;
    }