
.bi[b-ugapdj4hp3] {
    color: #222034 !important;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item[b-ugapdj4hp3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ugapdj4hp3] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ugapdj4hp3] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ugapdj4hp3]  .nav-link {
        color: #322f49;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-ugapdj4hp3]  a.active {
        background-color: color-mix(in srgb, var(--bright-purple), transparent 66%);
        color: var(--black);
    }
    .nav-item[b-ugapdj4hp3]  a.disabled {
        background-color: color-mix(in srgb, var(--dark-purple), transparent 66%);
        color: #020413;
    }

    .nav-item[b-ugapdj4hp3]  .nav-link:hover {
        background-color: color-mix(in srgb, var(--bright-purple), transparent 33%);
        color: var(----ultradark-purple);
    }

.nav-scrollable[b-ugapdj4hp3] {
    display: none;
}

div.nav-scrollable[b-ugapdj4hp3] {
    background-color: #badec2;
    border-image: url(assets/components/sidebarbg.png) round;
    border-image-repeat: repeat;
    border-image-slice: 5 5 5 19 fill;
    border-image-width: .75rem .75rem .75rem 3.75rem;
}

.navbar-toggler:checked ~ .nav-scrollable[b-ugapdj4hp3] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ugapdj4hp3] {
        display: none;
    }

    .nav-scrollable[b-ugapdj4hp3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}