.nav-card[b-s5aiftnbvu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.nav-card > img[b-s5aiftnbvu] {
    width: 12rem;
}
.icon-descriptors > *[b-s5aiftnbvu] {
    font-size: 115%;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.description[b-s5aiftnbvu] {
    font-size: 85%;
}
