.navbar[b-7cjusyjj1l] {
    width: calc(100% + .2rem);
    --bs-navbar-padding-y: 0.0rem;
    background-color: #badec2;
    border-image: url(assets/components/navbarheader.png) round;
    border-image-repeat: repeat;
    border-image-slice: 5 5 5 19 fill;
    border-image-width: .75rem .75rem .75rem 3.75rem;
    user-select: none;
}

.navbar-toggler[b-7cjusyjj1l] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-7cjusyjj1l] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-7cjusyjj1l] {
    min-height: 3.5rem;
    background-color: #badec2;
}

.navbar-brand[b-7cjusyjj1l] {
    background-color: #00000000;
    border: none;
}
div.navbar-brand[b-7cjusyjj1l] {
    height: 3.5rem !important;
}
.icons[b-7cjusyjj1l] {
}
.bi[b-7cjusyjj1l] {
    color: #222034 !important;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item[b-7cjusyjj1l] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7cjusyjj1l] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cjusyjj1l] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cjusyjj1l]  .nav-link {
        color: #322f49;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-7cjusyjj1l]  a.active {
        background-color: #ac67d34f;
        color: #222034;
    }

    .nav-item[b-7cjusyjj1l]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: #190526;
    }

.nav-scrollable[b-7cjusyjj1l] {
    display: none;
}

div.nav-scrollable[b-7cjusyjj1l] {
    background-color: #badec2;
    border-image: url(assets/components/sidebarbg.png) round;
    border-image-repeat: repeat;
    border-image-slice: 5 6 5 6 fill;
    border-image-width: .75rem .75rem .75rem .75rem;
}

.navbar-toggler:checked ~ .nav-scrollable[b-7cjusyjj1l] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7cjusyjj1l] {
        display: none;
    }

    .nav-scrollable[b-7cjusyjj1l] {
        /* Never collapse the sidebar for wide screens */
    display: block;
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
}
}
