.page[b-gm17o30fhc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-gm17o30fhc] {
    flex: 1;
}

.content[b-gm17o30fhc] {
    margin-top: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
    height: stretch;
}

.sidebar[b-gm17o30fhc] {
    user-select: none;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gm17o30fhc] {
    padding-bottom: .6rem;
    padding-right: .75rem;
    padding-left: .75rem;
    user-select: none;

    background-color: #badec200;
    justify-content: flex-end;
    height: 3.5rem;
    left: 0px !important;
    position: absolute !important;
    width: 100% !important;
    display: flex;
    align-items: center;
}

    .top-row[b-gm17o30fhc]  a, .top-row[b-gm17o30fhc]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gm17o30fhc]  a:hover, .top-row[b-gm17o30fhc]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gm17o30fhc]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-gm17o30fhc] {
        border-image: url('assets/components/topbar-lite.png') round;
        border-image-repeat: repeat;
        border-image-slice: 6 6 6 21 fill;
        border-image-width: 1rem 1rem 1rem 4rem;
    }

    .logo[b-gm17o30fhc] {
        display:none;
    }

    .top-row[b-gm17o30fhc] {
        justify-content: space-between;
    }

    .top-row[b-gm17o30fhc]  a, .top-row[b-gm17o30fhc]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {

    .top-row[b-gm17o30fhc] {
        border-image: url('assets/components/topbar.png') round;
        border-image-repeat: repeat;
        border-image-slice: 1 21 6 21 fill;
        border-image-width: 1rem 4rem;
    }
    .logo[b-gm17o30fhc] {
        display: initial;
    }

    .page[b-gm17o30fhc] {
        flex-direction: row;
    }

    .sidebar[b-gm17o30fhc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index:15;
    }

    .top-row[b-gm17o30fhc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gm17o30fhc]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    article[b-gm17o30fhc] {
        padding-left: .65rem !important;
        padding-right: .65rem !important;
        padding-bottom: .65rem !important;
        padding-top: .1rem !important;
    }
}

#blazor-error-ui[b-gm17o30fhc] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-gm17o30fhc] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
